In [1]:
import pandas as pd
import numpy as np

from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

from matplotlib import pyplot as plt
import seaborn as sns

import io
from scipy import misc

%matplotlib inline

In [2]:
data = pd.read_csv('athlete_events.csv')

In [3]:
data.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

# This is the part of converting all medals to 1 or 0

In [4]:
data.loc[data.Medal == 'Gold', 'Medal'] = 1
data.loc[data.Medal == 'Bronze', 'Medal'] = 1
data.loc[data.Medal == 'Silver', 'Medal'] = 1

In [5]:
data.loc[data.Medal.isnull(), 'Medal'] = 0

In [6]:
data[data.notnull()].head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,1
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,0

In [7]:
data = data.drop(columns=['ID', 'Name', 'Games', 'Year', 'Season', 'NOC', 'City'])

In [8]:
data.dropna()

,Sex,Age,Height,Weight,Team,Sport,Event,Medal
0,M,24.0,180.0,80.0,China,Basketball,Basketball Men's Basketball,0
1,M,23.0,170.0,60.0,China,Judo,Judo Men's Extra-Lightweight,0
4,F,21.0,185.0,82.0,Netherlands,Speed Skating,Speed Skating Women's 500 metres,0
5,F,21.0,185.0,82.0,Netherlands,Speed Skating,"Speed Skating Women's 1,000 metres",0
6,F,25.0,185.0,82.0,Netherlands,Speed Skating,Speed Skating Women's 500 metres,0
7,F,25.0,185.0,82.0,Netherlands,Speed Skating,"Speed Skating Women's 1,000 metres",0
8,F,27.0,185.0,82.0,Netherlands,Speed Skating,Speed Skating Women's 500 metres,0
9,F,27.0,185.0,82.0,Netherlands,Speed Skating,"Speed Skating Women's 1,000 metres",0
10,M,31.0,188.0,75.0,United States,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,0
11,M,31.0,188.0,75.0,United States,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,0
12,M,31.0,188.0,75.0,United States,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,0
13,M,31.0,188.0,75.0,United States,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,0
14,M,33.0,188.0,75.0,United States,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,0
15,M,33.0,188.0,75.0,United States,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,0
16,M,33.0,188.0,75.0,United States,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,0
17,M,33.0,188.0,75.0,United States,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,0
18,M,31.0,183.0,72.0,United States,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,0
19,M,31.0,183.0,72.0,United States,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,0
20,M,31.0,183.0,72.0,United States,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,0
21,M,31.0,183.0,72.0,United States,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,0
22,M,33.0,183.0,72.0,United States,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,0
23,M,33.0,183.0,72.0,United States,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,0
24,M,33.0,183.0,72.0,United States,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,0
25,M,33.0,183.0,72.0,United States,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,0
28,M,26.0,186.0,96.0,Finland,Ice Hockey,Ice Hockey Men's Ice Hockey,0
30,M,22.0,182.0,76.5,Finland,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,0
31,M,31.0,172.0,70.0,Finland,Badminton,Badminton Men's Singles,0
32,F,30.0,159.0,55.5,Finland,Sailing,Sailing Women's Windsurfer,0
33,F,34.0,159.0,55.5,Finland,Sailing,Sailing Women's Windsurfer,0
34,F,32.0,171.0,65.0,Finland,Biathlon,Biathlon Women's 7.5 kilometres Sprint,0
...,...,...,...,...,...,...,...,...
271085,M,36.0,182.0,82.0,Poland,Fencing,"Fencing Men's epee, Team",0
271086,M,23.0,177.0,68.0,Poland,Figure Skating,Figure Skating Mixed Ice Dancing,0
271087,M,19.0,189.0,80.0,Poland,Swimming,Swimming Men's 100 metres Butterfly,0
271088,M,19.0,189.0,80.0,Poland,Swimming,Swimming Men's 200 metres Butterfly,0
271089,M,34.0,192.0,95.0,Poland,Sailing,Sailing Men's Two Person Keelboat,0
271090,M,38.0,192.0,95.0,Poland,Sailing,Sailing Men's Two Person Keelboat,0
271091,M,32.0,200.0,89.0,Poland,Volleyball,Volleyball Men's Volleyball,0
271092,M,21.0,182.0,79.0,Poland,Speed Skating,"Speed Skating Men's 1,500 metres",0
271093,M,21.0,182.0,79.0,Poland,Speed Skating,"Speed Skating Men's 5,000 metres",0
271094,M,25.0,182.0,79.0,Poland,Speed Skating,"Speed Skating Men's 1,500 metres",0
271095,M,25.0,182.0,79.0,Poland,Speed Skating,"Speed Skating Men's 5,000 metres",0
271096,M,29.0,182.0,79.0,Poland,Speed Skating,"Speed Skating Men's 5,000 metres",0
271097,M,29.0,182.0,79.0,Poland,Speed Skating,"Speed Skating Men's 10,000 metres",0
271098,M,33.0,182.0,79.0,Poland,Speed Skating,"Speed Skating Men's 5,000 metres",0
271099,F,36.0,171.0,63.0,Greece,Wrestling,"Wrestling Women's Middleweight, Freestyle",0
271101,M,24.0,173.0,68.0,Czechoslovakia,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",0
271102,F,19.0,171.0,64.0,Russia,Athletics,Athletics Women's 4 x 400 metres Relay,1
271103,F,23.0,171.0,64.0,Russia,Athletics,Athletics Women's 4 x 400 metres Relay,1
271104,M,22.0,172.0,65.0,Russia-1,Luge,Luge Mixed (Men)'s Doubles,0
271105,M,23.0,168.0,76.0,Argentina,Hockey,Hockey Men's Hockey,0
271106,M,27.0,168.0,76.0,Argentina,Hockey,Hockey Men's Hockey,0
271107,M,21.0,175.0,75.0,United States,Football,Football Men's Football,0
271108,M,24.0,183.0,72.0,Russia,Rowing,Rowing Men's Lightweight Coxless Fours,0
271109,M,28.0,183.0,72.0,Russia,Rowing,Rowing Men's Lightweight Coxless Fours,0
271110,F,33.0,171.0,69.0,Belarus,Basketball,Basketball Women's Basketball,0
271111,M,29.0,179.0,89.0,Poland-1,Luge,Luge Mixed (Men)'s Doubles,0
271112,M,27.0,176.0,59.0,Poland,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",0
271113,M,27.0,176.0,59.0,Poland,Ski Jumping,"Ski Jumping Men's Large Hill, Team",0
271114,M,30.0,185.0,96.0,Poland,Bobsleigh,Bobsleigh Men's Four,0
271115,M,34.0,185.0,96.0,Poland,Bobsleigh,Bobsleigh Men's Four,0

In [9]:
print(data[data.Medal == 1].count())

Sex       39783
Age       39051
Height    31072
Weight    30456
Team      39783
Sport     39783
Event     39783
Medal     39783
dtype: int64

In [10]:
data = data[data.Weight.notnull()]
data = data[data.Height.notnull()]
data = data[data.Age.notnull()]

In [11]:
print(data[data.Medal == 0].count())

Sex       175984
Age       175984
Height    175984
Weight    175984
Team      175984
Sport     175984
Event     175984
Medal     175984
dtype: int64

In [12]:
dataPositive = data[data.Medal == 1]
dataNegative = data[data.Medal == 0]

In [13]:
dataNegative = dataNegative.sample(n=30181)

In [28]:
print(dataNegative.count())

Sex       30181
Age       30181
Height    30181
Weight    30181
Team      30181
Sport     30181
Event     30181
Medal     30181
dtype: int64

In [15]:
finalData = pd.concat([dataPositive, dataNegative], ignore_index=True)

In [27]:
print(finalData[finalData.Medal==0].count())

Sex       30181
Age       30181
Height    30181
Weight    30181
Team      30181
Sport     30181
Event     30181
Medal     30181
dtype: int64

In [26]:
finalData.head()

       Sex   Age  Height  Weight  Team  Sport  Event  Medal
6948     1  19.0   176.0    76.0   143      3     41      1
52924    0  19.0   169.0    58.0    27      0      7      0
48305    1  22.0   175.0    69.0   162     22    278      0
1979     1  28.0   188.0    86.0   102     25    300      1
5199     0  24.0   159.0    42.0   135      3     88      1

In [18]:
finalData = finalData.sample(frac=1)

In [29]:
export_csv = finalData.to_csv (r'finalData.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

In [19]:
from sklearn import preprocessing


for column in finalData.columns:
    if finalData[column].dtype == type(object):
        le = preprocessing.LabelEncoder()
        finalData[column] = le.fit_transform(finalData[column])

# Data has been processed and now gonna try decision tree

In [20]:
train, test = train_test_split(finalData, test_size = 0.2)

In [21]:
c = DecisionTreeClassifier(min_samples_split = 15)
features = ["Sex", "Age", "Height", "Weight", "Team", "Sport", "Event"]

In [22]:
X_train = train[features]
y_train = train['Medal']

X_test = test[features]
y_test = test["Medal"]

In [23]:
dt = c.fit(X_train, y_train)

In [24]:
y_pred = c.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score

score = accuracy_score(y_test, y_pred) *100
print(round(score,1))

70.6